.booking {
    gap: 16px;

    .child {
        border: solid;
        padding: 50px;
        border-radius: 10px;
        width: 258px;
        margin-top: 10px;
    }
}

.revenue {
    .child1 {
        border: solid;
        padding: 43px;
        margin-top: 10px;
        border-radius: 10px;
        width: 260px;
    }
}