# Ignore node_modules directory as it will be installed inside the Docker container
node_modules

# Ignore logs
*.log
logs

# Ignore all configuration files
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore development files
.git
.gitignore
.vscode
.idea

# Ignore test files
__tests__
__mocks__
*.spec.js
*.test.js

# Ignore build artifacts
build/
dist/
coverage/

# Ignore Dockerfile if not needed in the final image
Dockerfile
Dockerfile.*

